{% extends "layout.html" %}

{%- block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Care Leavers Assistance
          </h1>

          <p>Are you about to leave care, or have recently left care?</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Duis facilisis nisi sem, sed finibus ipsum egestas eget.</li>
            <li>Sed lacinia pulvinar molestie.</li>
          </ul>

          {{ govukButton({
            href: "/questions/photo-id",
            text: "Start now",
            isStartButton: true
          }) }}
      </div>
    </div>

{% endblock -%}
